.collection{
    flex: .8;
    height: calc(100vh - 85px);
    color: white;
    overflow-y: overlay;
    background-color: #121212;
    padding: 20px 40px;
}

.collection::-webkit-scrollbar {
    display: none;
}