.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* .header-right {
    display: flex;
    align-items: center;
    background-color: #050505;
    color: white;
    border-radius: 30px;
    padding: 5px;
}

.header-right:hover {
    background-color: #282828;
}

.header-right > h4 {
    margin: 0 20px;
} */