.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.container-fluid > h4 {
    margin-bottom: 20px;
}

.card {
    border: unset !important;
    margin-bottom: 30px;
    background-color: #181818 !important;
    padding: 16px;
    padding-bottom: 0;
    cursor: pointer;
}

.card:hover, .card:hover .card-body {
    background-color: #282828 !important;
}

.card > .card-body {
    background-color: #181818;
    padding-left: 0;
    padding-right: 0;
}

.card > .card-body > .card-text {
    height: 35px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: normal;
    text-transform: none;
}

.card-title {
    height: 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: normal;
    text-transform: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card > img {
    width: 141.53px;
    height: 141.53px;
    object-fit: fill;
}