.sidebar {
    height: calc(100vh - 85px);
    flex: .2;
    color: white;
    background-color: #040404;
    padding: 0 10px;
    min-width: 230px;
    height: 100vh;
}

.sidebar > hr {
    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;
}

.sidebar > .selected > .sidebarOption {
    background-color: #282828;
    color: white;
}

.sidebar-logo {
    margin-right: auto;
    height: 65px;
    padding: 10px;
    padding-left: 0;
}

.sidebar-title {
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}

.userPlaylists {
    max-height: 40vh;
    overflow-y: overlay;
}

.userPlaylists::-webkit-scrollbar {
    display: none;
}

a:hover {
    text-decoration: none !important;
}